.contact-banner {
  height: 500px;

  background-image:
    linear-gradient(
      rgba(24,23,23,.75),
      rgba(24,23,23,.75)
    ),
    url("https://images.unsplash.com/photo-1516321318423-f06f85e504b3?q=80&w=2000");

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin-top: 0;
}

.contact-overlay span {
  color: #801010;
  font-weight: 600;
  letter-spacing: 3px;
}

.contact-overlay h1 {
  color: white;
  font-size: 4rem;
  margin: 20px 0;
  line-height: 1.1;
}

.contact-overlay p {
  color: #cfcfcf;
}
@media (max-width:768px){

  .contact-banner{
    height:380px;
    padding:0 20px;
  }

  .contact-overlay h1{
    font-size:2.3rem;
    line-height:1.2;
  }

  .contact-overlay p{
    font-size:15px;
  }

}